<section style="height: 100vh; width: 100vw; background-color: #14171A;">
    <div class="container" id="login">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <div class="text-center">
                <svg class="card-title text-center" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512">
                    <path fill="#1da1f2" d="M459.4 151.7c.3 4.5 .3 9.1 .3 13.6 0 138.7-105.6 298.6-298.6 298.6-59.5 0-114.7-17.2-161.1-47.1 8.4 1 16.6 1.3 25.3 1.3 49.1 0 94.2-16.6 130.3-44.8-46.1-1-84.8-31.2-98.1-72.8 6.5 1 13 1.6 19.8 1.6 9.4 0 18.8-1.3 27.6-3.6-48.1-9.7-84.1-52-84.1-103v-1.3c14 7.8 30.2 12.7 47.4 13.3-28.3-18.8-46.8-51-46.8-87.4 0-19.5 5.2-37.4 14.3-53 51.7 63.7 129.3 105.3 216.4 109.8-1.6-7.8-2.6-15.9-2.6-24 0-57.8 46.8-104.9 104.9-104.9 30.2 0 57.5 12.7 76.7 33.1 23.7-4.5 46.5-13.3 66.6-25.3-7.8 24.4-24.4 44.8-46.1 57.8 21.1-2.3 41.6-8.1 60.4-16.2-14.3 20.8-32.2 39.3-52.6 54.3z"/>
                </svg>
              </div>
              <div *ngIf="userNotFound" class="alert alert-danger alert-dismissible fade show" role="alert">
                <h6>email ou mot de passe incorrecte</h6>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="userNotFound=!userNotFound"></button>
              </div>
              <form [formGroup]="loginForm" class="row" style="background-color: white;">
                <div class="row g-2">
                    <div *ngIf = "signUp" class="col-12">
                        <label for="inputAddress" class="form-label">Username</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="username" formControlName="username">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputAddress" placeholder="exeample@example.com" formControlName="email">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputAddress2" placeholder="password" formControlName="password">
                    </div>
                    <div *ngIf = "!signUp" class="col-12">
                        <h6>vous n'avez pas encore de compte?<span style="font-size: 14px; color: #1da1f2; cursor: pointer;" (click)="signUp=!signUp">Cliquez ici</span></h6>
                    </div>
                    <div *ngIf = "signUp" class="col-12">
                        <h6>vous avez déjà un compte?<span style="font-size: 14px; color: #1da1f2; cursor: pointer;" (click)="signUp=!signUp">Cliquez ici</span></h6>
                    </div>
                    <div *ngIf = "!signUp" class="col-12 text-center">
                        <button type="submit" class="btn" style="color: white; background-color: #1da1f2; border-radius: 5px;" (click)="onClickSignIn()">Sign in</button>
                    </div>
                    <div *ngIf = "signUp" class="col-12 text-center">
                        <button type="submit" class="btn" style="color: white; background-color: #1da1f2; border-radius: 5px;" (click)="onClickSignUp()">Sign up</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
